<%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/navbar.ejs') %>
      <!-- end hero area -->

      <!-- shop section -->

      <section class="shop_section layout_padding">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>
              Cursos  Muri
            </h2>
          </div>



         
          <hr>
          <div class="row">
            
           
 <div class="col-sm-6 col-md-4 col-lg-3">
          <div style="background-color: #fff; border: 1px solid rgb(161, 161, 161);text-align: center;" class="box">
            <a href="/Produto/2 ">
              <div class="">
                <img width="100%" src="/img/curso.png " alt="">
              </div>
              <div style="margin-top: 15px;" class="detail-box">
                <h5>
                  Tecnica dos ponteiros
                </h5>



              </div>
              <h6>

                <center>
                  <span style="color: red;">
                    R$ 300
                  </span>
                </center>
              </h6>
              <p>O curso irá abordar como estimular os pontos dos principais sistemas do corpo com a reflexologia podal,
                utilizando a técnica dos ponteiros MURi Terapias.</p>
              <button type="button" class="btn btn-success btn-lg btn-block">Fazer Este curso</button>
              <div class="new">
                <span>
                  Novo
                </span>
              </div>


            </a>
          </div>


        </div>

          </div>

        </div>
      </section>

      <!-- end shop section -->

      <!-- info section -->

      <%- include('partials/footer.ejs') %>

        <!-- end info section -->


        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
        </script>
        <script src="js/custom.js"></script>

  </body>
  <%- include("partials/wpp.ejs") %>

    </html>